<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>BelajarBelajar</title>

        <head th:fragment="css">
            <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        </head>


        <head th:fragment="js">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
        </head>
    </head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ml-4 text-primary" href="/" >BelajarBelajar</a>
                <div class="container">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"  th:classappend="${page} == 'home'  ? 'active'" href="/">Beranda</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"  th:classappend="${page} == 'course'  ? 'active'" href="/course/viewall">Course</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"  th:classappend="${page} == 'penyelenggara'  ? 'active'" href="/penyelenggara/viewall">Penyelenggara</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
</body>
</html>