<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View Course</title>
</head>
<body>
<h2>Deleted Course</h2>
<h3 th:text="'Course dengan code : ' + ${code} + ' berhasil dihapus' "/>
<a href="/course/viewall">Kembali</a>
</body>
</html>