<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BelajarBelajar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>

<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Course</h2>
                <br>
                <form th:action="@{/course/add}" th:object="${course}" method="POST">
                    Code Course: <br>
                    <input class="form-control" type="text" name="code" th:field="*{code}"/>
                    <br><br>
 
                    Nama Course: <br>
                    <input class="form-control" type="text" name="nameCourse" th:field="*{nameCourse}"/>
                    <br><br>
 
                    Description: <br>
                    <input class="form-control" type="text" name="description" th:field="*{description}"/>
                    <br><br>
 
                    Jumlah SKS: <br>
                    <input class="form-control" type="number" name="jumlahSks" th:field="*{jumlahSks}" />
                    <br><br>
 
                    Tanggal Dibuka: <br>
                    <input  class="form-control" type="datetime-local" name="tanggalDimulai"  th:field="*{tanggalDimulai}"/>
                    <br><br>
 
                    Tanggal Ditutup: <br>
                    <input  class="form-control" type="datetime-local" name="tanggalBerakhir" th:field="*{tanggalBerakhir}"/>
                    <br><br>

                    <table class="table">
                        <thead>
                            <th>Pengajar Course</th>
                            <th>Jenis Pengajar</th>
                            <th>
                                <button class="btn btn-primary" type="submit" name="addPengajarRow">Tambah Row</button>
                            </th>
                        </thead>

                        <tbody>
                            <tr th:each="pengajar, iteration : *{listPengajar}">

                                <td>
                                    <input type="text"  th:field="*{listPengajar[__${iteration.index}__].namaPengajar}" >
                                </td>
                                <td>
                                    <select th:field="*{listPengajar[__${iteration.index}__].isPengajarUniversitas}" 
                                        class="form-control"
                                    >
                                        <option value="1">Pengajar Universitas</option>
                                        <option value="0">Pengajar Non Universitas</option>
                                    </select>
                                </td>   

                                <td>
                                    <button
                                        th:value="${iteration.index}"
                                        class="btn btn-danger"
                                        type="submit"
                                        name="deletePengajarRow"
                                    >
                                        Hapus
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
 
                    <table class="table">
                        <thead>
                            <th>Penyelengara Course</th>
                            <th>
                                <button class="btn btn-primary" type="submit" name="addPenyelenggaraRow">Tambah Row</button>
                            </th>
                        </thead>

                        <tbody>
                            <tr th:each="penyelenggara, iteration : *{listPenyelenggara}">
                                <td>
                                    <select name="noPenyelenggara" th:field="*{listPenyelenggara[__${iteration.index}__].noPenyelenggara}" 
                                        class="form-control"
                                    >
                                    <div th:each="penyelenggaraEx, iteration2 : ${listPenyelenggaraExisting}">
                                        <option th:value="${penyelenggaraEx.noPenyelenggara}"
                                            th:text="${penyelenggaraEx.namaPenyelenggara}"
                                        ></option>
                                    </div>
                                </select>
                                </td>   

                                <td>
                                    <button
                                        th:value="${iteration.index}"
                                        class="btn btn-danger"
                                        type="submit"
                                        name="deletePenyelenggaraRow"
                                    >
                                        Hapus
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <button class="btn btn-primary" type="submit" name="save">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>

                </form>

            </div>
        </div>
    </div>
</div>
 
</body>
</html>