<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BelajarBelajar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2>Welcome to BelajarBelajar!</h2>
    
            <div class="d-flex justify-content-center">
                
                <a class="mx-2 btn btn-outline-primary" href="/course/add">Tambah Course</a>
                <a class="mx-2 btn btn-outline-primary" href="/course/viewall">Lihat Semua Course</a>
            </div>

            <div class="my-3 d-flex justify-content-center">
                <a th:href="@{/penyelenggara/viewall}" class="mx-2 btn btn-primary">Lihat semua penyelenggara</a>
                <a th:href="@{/penyelenggara/add}" class="mx-2 btn btn-primary">Tambah Penyelenggara</a>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>