<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
 
<head>
    <title>BelajarBelajar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
 
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>List Penyelenggara</h2>
                <br>

                <div class="container flex mb-3 mt-1">
                    <a class="btn btn-primary" href="/"> Home</a>
                    <a class="btn btn-primary" href="/penyelenggara/add"> Add Penyelenggara </a>
                </div>
                <table class="table align-middle">
                    <thead>
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">No Penyelenggara</th>
                          <th scope="col">Nama</th>
                          <th scope="col">Jenis Lembaga</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr th:each="x, iteration : ${listPenyelenggara}">
                            
                            <th th:text="${iteration.count}"></th>
                            <td th:text="${x.noPenyelenggara}"></td>
                            <td th:text="${x.namaPenyelenggara}"></td>
                            <td th:text="${x.jenisLembaga}"></td>
                        </tr>
                      </tbody>
                </table>
        </div>
    </div>
</div>
 
</body>
 
</html>