<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BelajarBelajar</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>

<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Detail Course</h2>
                <br>
                <p th:text="'Code Course: ' + ${course.code}"></p>
                <p th:text="'Nama Course: ' + ${course.nameCourse}"></p>
                <p th:text="'Description: ' + ${course.description}"></p>
                <p th:text="'Jumlah SKS: ' + ${course.jumlahSks}"></p>
                <p th:text="'Tanggal Dimulai: ' + ${#temporals.format(course.tanggalDimulai, 'dd MMMM yyyy HH:mm')}"></p>
                <p th:text="'Tanggal Berakhir: ' + ${#temporals.format(course.tanggalBerakhir, 'dd MMMM yyyy HH:mm')}"></p>
                <a class="btn btn-primary" th:href="'/course/delete?code=' + ${course.code}">Delete This Course</a>
                <div class="col mt-5">
                    <h2>Daftar Pengajar</h2>
                    <a class="btn btn-primary" th:href="@{/pengajar/add?code=} + ${course.code}">Tambah Pengajar</a>
                    <form
                    th:action="@{/pengajar/delete}"
                    th:object="${course}"
                    method="POST"
                    >

                    <input type="hidden" th:field="*{code}">
                    <input type="hidden" th:field="*{tanggalDimulai}">
                    <input type="hidden" th:field="*{tanggalBerakhir}">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>No Pengajar</th>
                                <th>Nama</th>
                                <th>Jenis Pengajar</th>
                                <th>Ubah</th>
                                <th>Hapus</th>
                            </tr>
                        </thead>

                        <tbody>

                             <tr
                                th:each="pengajar, iteration : ${listPengajar}"
                            >   

                            <td th:text="${iteration.count}"></td>
                            <td th:text=" ${pengajar.noPengajar} "></td>
                                <td th:text=" ${pengajar.namaPengajar} "></td>
                                <td th:if="${pengajar.isPengajarUniversitas}">Dosen Universitas</td>
                                <td th:unless="${pengajar.isPengajarUniversitas}">Non Dosen Universitas</td>

                                 <td>
                                    <a class="btn btn-sm btn-primary" th:href="@{/pengajar/update?npPengajar=} + ${pengajar.noPengajar}">Update</a>
                                </td>

                                <td>
                                    <!-- <input
                                        class="form-check-input"
                                        type="checkbox"
                                        th:field="*{listPengajar}"
                                        th:value="${pengajar.noPengajar}"
                                        id="flexCheckDefault"
                                    > -->

                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        th:value="${pengajar.noPengajar}"
                                        id="flexCheckDefault"
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Delete Pengajar yang dipilih" class="btn btn-danger">
                    
                    </form>
                </div>
                
                <br>

                <div class="col mt-5">
                    <h2>Daftar Penyelenggara</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>No Penyelenggara</th>
                                <th>Nama Penyelenggara</th>
                                <th>Jenis Penyelenggara</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr
                                th:each="penyelenggara, iteration : ${listPenyelenggara}"
                            >
                                <td th:text="${iteration.count}"></td>
                                <td th:text="${iteration.count}"></td>
                                <td th:text="${penyelenggara.namaPenyelenggara}"></td>
                                <td th:text="${penyelenggara.jenisLembaga}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-primary" href="/course/viewall">Kembali</a>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>