<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>BelajarBelajar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>List Course</h2>
                <br>


                <div class="container flex mb-3 mt-1">
                    <a class="btn btn-primary" href="/"> Home</a>
                    <a class="btn btn-primary" href="/course/add"> Add Course </a>
                </div>
                <table class="table align-middle">
                    <thead>
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">Code</th>
                          <th scope="col">Nama</th>
                          <th scope="col" class="text-center">Aksi</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr th:each="course, iteration : ${listCourse}">
                            <th th:text="${iteration.count}"></th>
                            <td th:text="${course.code}"></td>
                            <td th:text="${course.nameCourse}"></td>
                            <td>
                                <div class="col gap-3 justify-content-center">
                                    <a class="btn btn-primary btn-sm" th:href="@{/course/view(code=${course.code})}">Detail
                                        Course</a>
                                        <a class="btn btn-outline-primary btn-sm" th:href="@{/course/view-query(code=${course.code})}">Detail
                                            Course By Query</a>
                                    <a class="btn btn-warning btn-sm" th:href="@{/course/update/} + ${course.code}">Update Course</a>
                                    <a class="btn btn-danger btn-sm" th:href="@{/course/delete?code=} + ${course.code}">Delete Course</a>
                                </div>
                            </td>
                        </tr>
                      </tbody>
                </table>
        </div>
    </div>
</div>
 
</body>
</html>